{
  "Standards": [
    {%- set standards_items = [] %}
    {%- for d in standards %}
      {%- if d.category != 'Ontology' and (d.monarch_role == 'Flagship' or d.monarch_role == 'Core') %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.website if 'website' in d else None,
          "description": "Open and Computable Bioinformation for Phenotypic Data"
        } %}
        {%- do standards_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ standards_items | tojson(indent=2) | safe }}
  ],
  "Ontologies": [
    {%- set ontology_items = [] %}
    {%- for d in standards %}
      {%- if d.category == 'Ontology' and d.monarch_role == 'Flagship' %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.website if 'website' in d else None,
          "description": "Open and Computable Bioinformation for Phenotypic Data"
        } %}
        {%- do ontology_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ ontology_items | tojson(indent=2) | safe }}
  ],
  "Tools": [
    {%- set tools_items = [] %}
    {%- for d in tools %}
      {%- if d.monarch_role == 'Flagship' %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.website if 'website' in d else None,
          "description": "Open and Computable Bioinformation for Phenotypic Data"
        } %}
        {%- do tools_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ tools_items | tojson(indent=2) | safe }}
  ]
}
