# {{ name }}

{{ description }}

## Standards developed or significantly supported by the Monarch Initiative

{% for d in standards %}
### {{ d.name }}

| [{{ d.name }}]({{ d.id }}) | |
| ------ | ----- |
| PURL | {{ d.id }} |
| Cite | {{ d.citation|default("") }} |
| [Resource category](Documentation-Schema/StandardEnum/) | {{ d.category }} |
| Documentation | [{{ d.documentation|default("TBD") }}]({{ d.documentation|default("") }}) | 
| [Monarch role](Documentation-Schema/MonarchContributionEnum/) in the development | {{ d.monarch_contribution|default("") }} |
| [Grants](Documentation-Schema/GrantEnum/) involved in this standard | {{ d.grants|default([])|join(", ") }} |
| [Role in Monarchs strategic vision](Documentation-Schema/MonarchRoleEnum/) | {{ d.monarch_role|default("") }} |
| Main repository | {{ d.repository|default("") }} |
| Responsible contact in Monarch | {{ d.contact.name }}, {{ d.contact.orcid }}, {{ d.contact.github }} |
{% endfor %}

## Tools and Services developed or significantly supported by the Monarch Initiative

| Tool or Service | Category |
| ------ | ----- |
{% for d in tools %}| [{{ d.name }}]({{ d.id }}) | {{ d.category|default("") }} |
{% endfor %}

## Datasets developed by the Monarch Initiative

| Dataset | Category | Docs | Contribution |
| ------ | ----- | ----- | ----- |
{% for d in data %}| [{{ d.name }}]({{ d.id }}) | {{ d.category }} | [Docs]({{ d.documentation|default("") }}) | {{ d.monarch_contribution|default("") }} |
{% endfor %}
