# Standards

This page contains an overview of standards developed or significantly supported by the Monarch Initiative

| Standard | Category | Docs | Contribution | Grants |
| ------ | ----- | ----- | ----- | ----- |
{% for d in standards %}| [{{ d.name }}]({{ d.id }}) | {{ d.category }} | [Docs]({{ d.documentation|default("") }}) | {{ d.monarch_contribution|default("") }} | {{ d.grants }} |
{% endfor %}
