{
  "Standards":
    {%- set standards_items = [] %}
    {%- for d in standards %}
      {%- if d.category != 'Ontology' and (d.monarch_role == 'Foundational') %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.url if 'url' in d else None,
          "description": d.description if 'description' in d else None
        } %}
        {%- do standards_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ standards_items | tojson(indent=2) | safe }}
  ,
  "Ontologies":
    {%- set ontology_items = [] %}
    {%- for d in standards %}
      {%- if d.category == 'Ontology' and d.monarch_role == 'Foundational' %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.url if 'url' in d else None,
          "description": d.description if 'description' in d else None
        } %}
        {%- do ontology_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ ontology_items | tojson(indent=2) | safe }}
  ,
  "Tools":
    {%- set tools_items = [] %}
    {%- for d in tools %}
      {%- if d.monarch_role == 'Foundational' %}
        {%- set item = {
          "name": d.short_name if 'short_name' in d else d.name,
          "icon": d.icon if 'icon' in d else None,
          "link": d.url if 'url' in d else None,
          "description": d.description if 'description' in d else None
        } %}
        {%- do tools_items.append(item) %}
      {%- endif %}
    {%- endfor %}
    {{ tools_items | tojson(indent=2) | safe }}
}
