name: Build and Deploy Docs to GitHub Pages
on:
  push:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  UV_VERSION: "0.7.x"

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Verify lockfile is up-to-date
        run: |
          uv lock --check

      - name: Install library
        run: |
          uv sync --extra dev

      - name: Build and Deploy Documentation.
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          make build-docs -B
          uv run mkdocs gh-deploy --force
