name: Generate Monarch Resources File
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  UV_VERSION: "0.7.x"

jobs:
  generate-resources-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Verify lockfile is up-to-date
        run: |
          uv lock --check

      - name: Install library
        run: |
          uv sync --extra dev

      - name: Generate Resources File
        run: make gen-monarch-resources -B

      - name: Commit changes
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.email "no-reply@github.com"
          git config --global user.name "GitHub Actions"
          git add src/docs/resources/monarch-app-resources.json
          git add src/docs/resources/monarch-app-infopages.json
          git add src/docs/resources/monarch-app-infopages.tsv
          git commit -m "Update resources.json"
          git remote set-url origin https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
